<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead">
    <div class="inner">
      <h3 class="masthead-brand">Integer</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" [routerLink]="['/logout']">Logout</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <div *ngIf="apiErrors && apiErrors.length" class="alert alert-danger" role="alert">
      <span *ngFor="let error of apiErrors">{{ error }}</span>
    </div>
    <h1 *ngIf="integerObj" class="cover-heading">
      Current Integer: {{ integerObj.integerValue }}.
    </h1>
    <h1 *ngIf="!integerObj" class="cover-heading">
      Loading...
    </h1>
    <p class="lead">
      Click the next button for the next Integer.
    </p>
    <p class="lead">
      <a (click)="nextInteger()" class="btn btn-lg btn-secondary">Next</a>
    </p>
    <p class="lead">
      Or you can enter in your own Integer!
    </p>
    <form [formGroup]="integerForm" [ngClass]="{ 'needs-validation': !formSubmitted, 'was-validated': formSubmitted }">
      <input class="form-control w-50" type="text" placeholder="New Integer" aria-label="Enter a new Integer"
        formControlName="integerValue" required />
      <div *ngIf="formSubmitted && integerForm.get('integerValue').invalid" class="invalid-feedback">
        You need to enter a positive integer less than or equal to 15 digits.
      </div>
      <p class="lead mt-4">
        <a (click)="submitForm()" class="btn btn-lg btn-secondary">Submit</a>
      </p>
    </form>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>
        Never trust a computer you can't throw out a window. - Steve Wozniak
      </p>
    </div>
  </footer>
</div>
