<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead">
    <div class="inner">
      <div class="d-flex justify-content-between align-items-center flex-row">
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" [routerLink]="['/scheduled-events']"
            >Back</a
          >
        </nav>
        <h3 class="masthead-brand">Fights</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" [routerLink]="['/logout']">Logout</a>
        </nav>
      </div>
    </div>
  </header>

  <main *ngIf="currentEvent" role="main" class="inner cover">
    <h3 class="text-center" style="color: #fff">
      {{ currentEvent.name }}
    </h3>
    <h6 *ngIf="!userHasMadePicks" class="text-center text-info">
      Click the fighters you think will win, then submit.
    </h6>
    <h6 *ngIf="userHasMadePicks" class="text-center text-success">
      Your picks have been submitted. Good luck!
    </h6>
    <div *ngFor="let fight of fights" class="row">
      <div class="d-flex flex-row w-100 fight my-2">
        <div
          *ngFor="let fighter of fight.fighters; let i = index"
          (click)="pickFighter(fight.id, fighter.id)"
          [ngClass]="{
            'border-right': i % 2 === 0,
            picked: checkIfPicked(fight.id, fighter.id)
          }"
          class="col-sm-6 py-4 px-3 fighter"
        >
          <p class="fighter-name m-0">
            {{ fighter.firstName }} {{ fighter.lastName }}
          </p>
          <p class="fighter-record m-0">
            {{ fighter.preFightWins }} - {{ fighter.preFightLosses }} -
            {{ fighter.preFightDraws }}
          </p>
        </div>
      </div>
    </div>

    <button
      *ngIf="!userHasMadePicks"
      (click)="savePicks()"
      type="button"
      class="btn btn-success w-100 mt-2"
    >
      {{ submitText }}
    </button>
  </main>
</div>
