<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead">
    <div class="inner">
      <div class="d-flex justify-content-between flex-row">
        <h3 class="masthead-brand">Scheduled Events</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" [routerLink]="['/logout']">Logout</a>
        </nav>
      </div>
      <div class="d-flex justify-content-between flex-row">
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" [routerLink]="['/leaderboard']"
            >Leaderboard</a
          >
          <a class="nav-link active" [routerLink]="['/hall-of-fame']"
            >Hall of Fame</a
          >
        </nav>
      </div>
    </div>
  </header>

  <main role="main" class="inner cover">
    <form
      *ngIf="!userHasName"
      [formGroup]="leaderboardForm"
      [ngClass]="{
        'needs-validation': !formSubmitted,
        'was-validated': formSubmitted
      }"
    >
      <p style="color: #fff">Looks like we don't have a name for you yet...</p>
      <input
        class="form-control w-50"
        type="text"
        placeholder="Full name"
        aria-label="Enter your name"
        formControlName="name"
        required
      />
      <div
        *ngIf="formSubmitted && leaderboardForm.get('name').invalid"
        class="invalid-feedback"
      >
        You need to enter your full name.
      </div>
      <p class="lead mt-4">
        <a (click)="submitForm()" class="btn btn-lg btn-secondary">Submit</a>
      </p>
    </form>
    <h3 *ngIf="todaysEvent && todaysEvent.length">Today's Event:</h3>
    <div *ngIf="todaysEvent && todaysEvent.length" class="card mb-4">
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let event of todaysEvent"
          (click)="goToEvent(event.id)"
          class="list-group-item clickable"
        >
          {{ event.name }}
        </li>
      </ul>
    </div>
    <h3>Upcoming:</h3>
    <div class="card">
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let event of upcomingEvents"
          (click)="goToEvent(event.id)"
          class="list-group-item clickable"
        >
          {{ event.name }}
          <span class="badge badge-info"
            >In
            {{ event.daysFromToday() }}
            day(s)</span
          >
        </li>
      </ul>
    </div>
    <h3 class="mt-4">Past Events:</h3>
    <div class="card">
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let event of pastEvents"
          (click)="goToEvent(event.id)"
          class="list-group-item clickable"
        >
          {{ event.name }}
          <span class="badge badge-success">Complete</span>
        </li>
      </ul>
    </div>
  </main>
</div>
