h3 {
  color: #fff;
}

.cover-container {
  max-width: 42em;
}

.fight {
  background: #fff;
  border-radius: 5px;
}

.fighter {
  border-radius: 5px;

  &.picked {
    background-color: #37af53;
  }
}

.fighter-name {
  font-size: 12px;
}

.fighter-record {
  font-size: 10px;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 3rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}
