<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead">
    <div class="inner">
      <div class="d-flex justify-content-between align-items-center flex-row">
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" [routerLink]="['/scheduled-events']"
            >Back</a
          >
        </nav>
        <h3 class="masthead-brand">Hall of Fame</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" [routerLink]="['/logout']">Logout</a>
        </nav>
      </div>
    </div>
  </header>

  <main role="main" class="inner cover">
    <button
      (click)="toggleRules()"
      type="button"
      class="btn btn-info w-100 mt-2 mb-4"
    >
      <span *ngIf="!showRules">Show Rules</span>
      <span *ngIf="showRules">Hide Rules</span>
    </button>
    <p *ngIf="showRules" style="color: #fff">
      After every PPV event, the Top Dawg from the leaderboard is awarded 1 Hall
      of Fame point and the leaderboard resets.
    </p>
    <div *ngIf="hallOfFames" class="card">
      <ul class="list-group list-group-flush">
        <li
          *ngFor="let leaderboard of hallOfFames; let i = index"
          class="list-group-item"
        >
          <div
            class="d-flex flex-row align-items-center justify-content-between"
          >
            <span
              >{{ leaderboard.name }}: {{ leaderboard.totalPoints || 0 }}</span
            >
            <span
              *ngIf="i === 0 && +leaderboard.totalPoints > 0"
              class="badge badge-success"
              >The Man</span
            >
          </div>
        </li>
      </ul>
    </div>
  </main>
</div>
